<ol reversed="reversed">
  {% for paper in site.data.popular %}
  <li>
    <p>
      {{ paper.authors | markdownify | | remove: "<p>" | remove: "</p>"}} {{ paper.year }}. {{ paper.title | markdownify | | remove: "<p>" | remove: "</p>"}} <em>{{ paper.journal }}</em> {% if paper.volume %} <strong>{{ paper.volume }}</strong>:{% endif %} {{ paper.pages }}.
      {% if paper.pdf-url %}<a href="{{ paper.pdf-url }}" target="_blank"><i class="far fa-file-pdf"></i></a>{% endif %}
    </p>
  </li>
  {% endfor %}
</ol>
